.footer {
  width: 100%;
  background-color: $panel-footer-bg;
  padding: {
    top: 2rem;
    bottom: 2rem;
  }

  .oetiker-logo {
    font-weight: 700;
    color: $text-color;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      color: $brand-primary;
    }
  }
}

@include break-min(xs) {
  html {
    position: relative;
    min-height: 100%;
  }

  .footer {
    position: absolute;
    bottom: 0;
  }
}

.main-container {
  margin-bottom: 80px;
}

@include break-only(sm) {
  .main-container {
    margin-bottom: 80px;
  }
}

@include break-only(xs) {
  .main-container {
    margin-bottom: 120px;
  }
}