:ruby
  albums = local_assigns.fetch(:albums)

= render 'components/category', title: t('home.index.albums') do |b|
  - b.options do
    - if policy(Album).create?
      %a.btn.btn-primary{ href: new_album_path }
        = icons.new

  - b.body do
    .row
      = list_any albums, else_say: t('albums.index.no_albums') do |album|
        .col-12
          = render 'albums/present',
                   album:   album,
                   images?: false