:ruby
  articles = local_assigns.fetch(:articles)

= render 'components/category', title: t('home.index.articles') do |b|
  - b.options do
    - if policy(Old::Article).create?
      %a.btn.btn-primary{ href: new_article_path }
        = icons.new

  - b.body do
    = render 'old/articles/list',
             articles: articles

