.category
  #newsCarousel.carousel.carousel--news.slide{ data: { ride: 'carousel' } }
    %ol.carousel-indicators
    .carousel-inner
      .carousel-item.active
        %img.d-block{ src: image_path('welcome.png'), alt: 'welcome' }
        .carousel-caption.text-center.text-sm-left
          %h1.mb-0
            - t('home.index.welcome').each do |part|
              %span.text-nowrap= part