-# article: Article

.card.card--article.card--hoverable.link-parent{ data: { url: article_path(article) } }
  - if article.image?
    %img.card-img-top{ src: image_path(article.image) }
  .card-header
    .card-title
      = article.title
  .card-body
    = article.summary
  .card-footer.link-parent__ignore
    = render '/shared/created_by',
             creator:    article.author,
             created_at: article.created_at