-# article: Article

.card.card--article.card--hoverable.link-parent{ data: { url: article_path(article) } }
  .card-header
    .card-title
      = article.title
  .card-body.row
    %article.col
      = article.summary
    - if article.image?
      .col.col-lg-auto.float-left.px-0.mr-2.mb-2
        %img{ src: image_path(article.image.x512) }
  .card-footer.link-parent__ignore
    = render '/shared/created_by',
             creator:    article.author,
             created_at: article.created_at