- title @article.title
- self.image_src = url_for(@article.image.process.resize_to_limit(512)) if @article.image.present?

.row
  .col
    - can = policy(@article)
    - if (can_edit = can.edit?)
      .row.mb-4
        .col-12.d-flex.justify-content-center
          .btn-group
            - if can_edit
              = link_to edit_article_path, class: 'btn btn-primary' do
                = icons.edit

    .row.justify-content-center
      .col-12.col-lg-11.col-xl-10
        - if @article.image.present?
          .row.mb-4.justify-content-center
            .col
              = breakpoints(xs: 530, md: 700, lg: 1000) do |width|
                %img.w-100{ src: url_for(@article.image.process.resize_to_limit(width, nil)), alt: @article.title }

        .row
          .col
            %article
              = @article.text.html_safe