- title @article.title
- self.image_src = image_path(@article.image) if @article.image?

.row.justify-content-center
  .col-12.col-lg-10.col-xl-8
    = render '/articles/present_full',
             article:  @article,
             expanded: true,
             editable: true