-# ingredients: [[String, String]]
-# recipe: String

.row.justify-content-center
  .col-12.col-md-10
    .row
      .col-12.col-lg-5.col-xl-4
        %h3 Zutaten (4 Personen)
        .row.mb-2
          .col-auto
            - ingredients.each do |(amount, _)|
              .row
                .col.text-right
                  = amount
          .col
            - ingredients.each do |(_, ingredient)|
              .row
                .col
                  = ingredient

      .col
        %h3 Zubereitung
        %article
          = yield