- title "Engelsbrocken"

:ruby
  ingredients = [
     [ '100 g',    'Gemahlene Nüsse' ],
     [ '2 TL',     'Zitronensaft' ],
     [ '125 g',    'gesüsse Kondensmilch' ],
     [ '16 Stück', 'Zwieback' ],
  ]

= render 'recipe', ingredients: ingredients do
  %div
    Kondensmilch, Nüsse und Zitronensaft zusammenmischen.
  %div
    Die Masse auf dem Zwieback verteilen.
  %div
    In der oberen Hälfte des Ofens bei 200 °C für 5-10 Minuten backen.