- title "Fotzelschnitten"

:ruby
  ingredients = [
     [ '8',        'Brotscheiben' ],
     [ '2 dl',     'kalte Milch' ],
     [ '3-4',      'frische Eier' ],
     [ '3-4',      'frische Eier' ],
     [ '1 Prise',  'Salz' ],
     [ '3-4 EL',   'Butter oder Öl' ],
     [ '',  '' ],
     [ 'Beilage:', 'Zimtzucker und Apfelmus' ],
  ]

= render 'recipe', ingredients: ingredients do
  %p
    Brot in der Milch wenden.
  %p
    Eier und Salz verklopfen, Brot darin wenden.
    %br
    Butter oder Öl erhitzen, die Fotzelschnitten darin beidseitig wenden.