- title 'Sandsturm'

%article.text-center.mb-4
  Dieses Gericht ist als Zugabe zu einem normalen Frühstück gedacht, z.B anstelle von Kellogs.
  %br
  %strong Tipp:
  nicht zu viel machen, nicht alle mögen Sandsturm.

:ruby
  ingredients = [
     [ '25 g',  'Butter' ],
     [ '80 g',  'Zucker' ],
     [ '100 g', 'Haferflocken' ],
  ]

= render 'recipe', ingredients: ingredients do
  %p
    Die Hälfte der Butter in einer Bratpfanne schmelzen.
  %p
    Zucker beigeben und karamellisieren lassen.
    %br
    Haferflocken beigeben, rühren.
    %br
    Zweite Hälfte der Butter zugeben, rösten bis sich kleine Lümpchen bilden.
  %p
    %strong Nicht anbrennen lassen!
    Lieber zu früh als zu spät vom Herd nehmen.