- title "Schoggibananen"

:ruby
  ingredients = [
     [ '4', 'Bananen' ],
     [ '1 Tafel',  'Schoggi (z.B. Cremant Kochschoggi)' ],
  ]

= render 'recipe', ingredients: ingredients do
  %p
    Banane auf der Bauch-Seite bis in die Mitte einschneiden.
    Schoggi in die Banane stecken, mit Alufolie einwickeln.
  %p
    Eingepackte Banane ins Feuer legen bis die Schoggi komplett geschmolzen ist.