- title 'Rezepte'

.row.justify-content-center
  .col.col-md-8.col-lg-5.col-xl-2
    %ul
      %li= link_to 'Engelsbrocken',   '/rezepte/engelsbrocken'
      %li= link_to 'Schoggibananen',  '/rezepte/schoggibananen'
      %li= link_to 'Fotzelschnitten', '/rezepte/fotzelschnitten'
      %li= link_to 'Sandsturm',       '/rezepte/sandsturm'