-# group: Group

.card.card--hoverable.mb-2.js-link{ data: { url: group_path(group) } }
  .card-header
    .card-title.w-100
      - if (who = group.who)
        .row
          .col
            = group.name
          .col-auto
            %small.text-right.text-muted.d-inline
              = who
      - else
        = group.name