-# group: Group

.card.hoverable.js-link{ data: { url: group_path(group) } }
  .card-status.card-status-left.bg-primary.hover
  .card-header
    .card-title= group.name
  - if (who = group.who)
    .card-body
      = who