-# user: User
-# yield?

.card.card--hoverable.js-link{ data: { url: user_path(user) } }
  %img.card-img-top{ src: image_path(user.avatar.x256), width: '100%', alt: "avatar of #{user.scout_name}" }
  .card-header.justify-content-center
    .card-title= user.scout_name
    - if block_given?
      - content = capture do
        = yield
      - unless content.blank?
        .card-options
          = content