- title
- subtitle_to @user, :scout_name

.row
  .col-md-8.col-md-offset-2
    = simple_form_for @user, url: update_password_user_path, method: 'put' do |f|
      .row
        .col-md-6
          = f.input :password, required: true, input_html: { autocomplete: 'off' }
        .col-md-6
          = f.input :password_confirmation, required: true, input_html: { autocomplete: 'off' }
      .row
        .col-xs-12
          = f.submit class: 'btn btn-primary col-xs-12'