- title
- subtitle_to @user, :scout_name

.row.justify-content-center
  .col-auto
    .alert.alert-info
      Passwörter werden neu über unsere
      %a{ href: 'https://cloud.pfadiolten.ch' } NextCloud
      verwaltet.
      Zurzeit bietet diese Website keine Möglichkeit zur Änderung deren.

- if false
  .row
    .col-md-8.offset-md-2
      = simple_form_for @user, url: update_password_user_path, method: 'put' do |f|
        .row
          .col-md-6
            = f.input :password,
                      required: true,
                      input_html: { autocomplete: 'off',
                                    autofocus:    true }
          .col-md-6
            = f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: 'off' }
        .row
          .col-12
            = f.submit class: 'btn btn-primary col-12'