- title
- subtitle_to(new_user_session_path) { t('devise.sessions.new.title') }

.row
  .col-md-8.col-md-offset-2
    = simple_form_for @user, url: users_send_recover_token_path do |f|
      .row
        .col-xs-12
          = f.input :scout_name
      .row
        .col-xs-12
          = f.submit class: 'btn btn-primary col-xs-12'