- title

- if (can_create = policy(User).create?)
  .row.mb-4
    .col-12.d-flex.justify-content-center
      - if can_create
        %a.btn.btn-primary{ href: new_user_path }
          %i.fe.fe-plus

.row.justify-content-center
  .col-md-10
    = render 'list', users: @users, none: t('.no_users')