- title

- if policy(User).create?
  .row.justify-content-center.mb-6
    .col-auto
      %a.btn.btn-primary.float-left{ href: new_user_path }
        = icons.new

.row.justify-content-center
  .col-md-10
    = components.user_list @users