-# post: Api::Instagram::PostPresenter
-# include_script: Boolean = true

- include_script = true unless defined? include_script

- post_html, error = post.embedded(include_script: include_script)
- if error.nil?
  = post_html
- else
  //TODO show nice error
  = error
