// NOTE:
// As long as there are no other footers, all footer-specific code will be in this file.
// If there ever are other footers, this type should be rewritten to only contain `--main` styles.

.footer.footer--main {
  position:    fixed;
  clear:       both;
  width:       100%;
  color:       $gray-600;
  bottom:      0;
  line-height: 2.5rem;
  z-index:     1000;

  .footer__element {
    @mixin responsiveness {
      @include media-breakpoint-down(xs) {
        float:      none;
        text-align: center;
        &:not(:first-child) {
          padding-top: 1rem;
        }
      }
    }

    &.footer__element--left {
      @include responsiveness;
      float:      left;
      text-align: left;
    }
    &.footer__element--center {
      @include responsiveness;
      float:      none;
      text-align: center;
    }
    &.footer__element--right {
      @include responsiveness;
      float:      right;
      text-align: right;
    }
  }

  a {
    font-weight:     700;
    color:           $body-color;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      color:  $primary;
    }
  }
}