- title @article.title
- self.image_src = image_path(@article.image.x512) if @article.image?

.row
  .col
    - can = policy(@article)
    - if (can_edit = can.edit?)
      .row.mb-4
        .col-12.d-flex.justify-content-center
          .btn-group
            - if can_edit
              = link_to edit_article_path, class: 'btn btn-primary' do
                = icons.edit

    .row.justify-content-center
      .col-md-8
        - if @article.image?
          .row.mb-4
            .col
              %img{ src: image_path(@article.image.x1024), alt: @article.title }

        .row
          .col
            %article.trix-content
              = @article.text.html_safe