- self.tab_title = 'Kalender'
- content_for :container_type, 'container-fluid'

.row.justify-content-center
  .col-12.col-md-10{ style: 'height: 1040px;' }
    %iframe{ src: 'https://cloud.pfadiolten.ch/apps/calendar/embed/w5pPBGHBc5wHxgHj', style: 'width: 100%; max-width: 95vw; height: 1110px; position: absolute; top: -70px;' }