- self.tab_title = t('.title')
- content_for :container_type, 'container-fluid'

.row.justify-content-center
  .col-12.col-md-10
    .row.justify-content-lg-end
      .order-lg-2.col-12.col-lg-8.col-xl-9
        = render 'home/index/carousel'

      .order-lg-1.col-12.col-lg-4.col-xl-3.col--events
        %div
          .alert.alert-primary
            %a.text-nowrap{ href: 'https://heim.pfadiolten.ch', target: '_blank' }
              = icons.external
              Besuch das Projekt Pfadiheimsituation!

        = render "events/list",
                 events: @home.events

      .order-lg-3.col-12.col-lg-8.col-xl-9
        = render 'home/index/articles',
                 articles: @home.articles

      -# Disabled albums for data privacy - 2025-06-18
      -# .order-lg-4.col-12.col-lg-8.col-xl-3
      -#   = render 'home/index/albums',
      -#            albums: @home.albums