:ruby
  events         = local_assigns.fetch(:events)
  title          = local_assigns.fetch(:title) { t('activerecord.models.event.other') }
  new_event_path = local_assigns.fetch(:new_event_path) { send(:new_event_path) }


= render 'components/category', title: title do |b|
  - b.options do
    - if policy(events).create?
      %a.btn.btn-primary{ href: new_event_path }
        = icons.new

  - b.body do
    .row.justify-content-md-center.justify-content-lg-start.flex-nowrap.flex-md-wrap{ style: 'overflow-x: scroll;' }
      = list_any events, else_say: t('events.index.no_events') do |event|
        .col-11.col-5.col-sm-6.col-lg-12
          = render '/events/present', event: event