-# events: [Event]
-# new_event_path: String?

- new_event_path ||= send(:new_event_path)

.category.category--events
  .category__header
    %h2.category__title
      = t('activerecord.models.event.other')
    .category__options
      - if policy(events).create?
        %a.btn.btn-primary{ href: new_event_path }
          = icons.new

  .category__body
    = list_any events, else_say: t('events.index.no_events') do |event|
      = render '/events/present', event: event