-# album: [Album]

.row.justify-content-center
  .col.gallery
    - album.images.each_with_index do |image, i|
      %a.gallery__image{ data: { src: image_path(image.file) } }
        .d-block.position-relative
          %img{ src: image_path(image.file.gallery), alt: "Album Thumbnail ##{i + 1}", data: {  id: image.id  } }
