-# album:            Album
-# limit:            Int | Null = null
-# disable_lightbox: Boolean    = false

:ruby
  album            = local_assigns.fetch(:album)
  limit            = local_assigns.fetch(:limit) { nil }
  disable_lightbox = local_assigns.fetch(:disable_lightbox) { false }

:ruby
  images = album.images
  images = images.first(limit) if limit.present?
  images = (images.map do |image|
    {
      id: image.id,
      ratio: {
        width:  image.file.x1024.width,
        height: image.file.x1024.height,
      },
      src: {
        x128:  view.image_path(image.file.x128),
        x256:  view.image_path(image.file.x256),
        x512:  view.image_path(image.file.x512),
        x1024: view.image_path(image.file.x1024),
      },
    }
  end)

= components.gallery images: images, disable_lightbox: disable_lightbox