-# album: [Album]

.row.justify-content-center
  .col-12
    .row.justify-content-center
      .gallery
        - album.images.each_with_index do |image, i|
          %a{ href: image_path(image.file.gallery) }
            %img{ src: image_path(image.file.thumbnail), alt: "Album Thumbnail ##{i + 1}" }