-# album:            Album
-# limit:            Int | Null = null
-# disable_lightbox: Boolean    = false

:ruby
  album            = local_assigns.fetch(:album)
  limit            = local_assigns.fetch(:limit) { nil }
  disable_lightbox = local_assigns.fetch(:disable_lightbox) { false }

:ruby
  images = album.images
  images = images.first(limit) if limit.present?

= components.gallery images: images, disable_lightbox: disable_lightbox