-# album: [Album]

.row.justify-content-center
  .col.gallery
    - album.images.each_with_index do |image, i|
      %a.gallery__image{ data: { src: image_path(image.file.x1024) } }
        .d-block.position-relative
          %img.d-sm-none{ src: image_path(image.file.x256), alt: "Album Thumbnail ##{i + 1}", data: {  id: image.id  } }
          %img.d-none.d-sm-block.d-lg-none{ src: image_path(image.file.x512), alt: "Album Thumbnail ##{i + 1}", data: {  id: image.id  } }
          %img.d-none.d-lg-block{ src: image_path(image.file.x1024), alt: "Album Thumbnail ##{i + 1}", data: {  id: image.id  } }
