- title
- subtitle_to @original_album, :name

= render 'form' do |f|
  .editable-gallery{ data: { ids: @album.images.map(&:id) } }
    = f.input :deleted_images, as: 'hidden', input_html: { id: 'deletedImages' }

    .gap-top-2
      = render 'gallery', album: @album