- title

.row.justify-content-center
  .col-12.col-md-10
    - if policy(@albums).create?
      .row.mb-4
        .col-12.d-flex.justify-content-center
          .btn-group
            = link_to new_album_path, class: 'btn btn-primary' do
              = icons.new

    .row
      .col-12
        = list_any @albums, else_say: t('.no_albums') do |album|
          = render '/albums/present',
                   album: album
