- title @album.name

.row.justify-content-center
  .col-md-10
    .row
      .col-12.d-flex.justify-content-center
        .btn-group
          - if policy(@album).download?
            = link_to download_album_path, class: 'btn btn-primary' do
              %i.fe.fe-download

          - if policy(@album).update?
            = link_to edit_album_path, class: 'btn btn-primary' do
              %i.fe.fe-edit

    - if (description = @album.description)
      .row.mt-4
        .col-12
          .text-center= description.html_safe

    .row.mt-4
      .col-12
        = render 'gallery', album: @album

