- title @album.name

.row
  .col-md-10.col-md-offset-1
    .row
      .col-md-12.text-center
        .btn-group
          - if policy(@album).download?
            = link_to fa_icon('download'), download_album_path, class: 'btn btn-primary'

          - if policy(@album).update?
            = link_to fa_icon('pencil'), edit_album_path, class: 'btn btn-primary'

    - if description = @album.description
      .row.gap-top-1
        .col-md-12
          .text-center= description.html_safe

    .row.gap-top-2
      .col-md-12
        = render 'list_images', images: @album.images

