// category
// A category is list of same-type elements.
// It may include a title.

.category {
  margin-bottom: 1rem;

  & > .category__header {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    border-bottom:   1px solid $secondary;
    padding-bottom:  0.5rem;
    margin-bottom:   1rem;
    min-height:      52px;
  }

  & > .category__body {

  }

  .category__title {
    margin-bottom: 0;
  }

  .category__options {
  }
}

@import "category/events";