.gallery {
  text-align: center;
  column: {
    count: 3;
    gap:   0.75rem;
  }
  @include media-breakpoint-down(sm) {
    column-count: 2;
  }

  & > .gallery__image {
    display: inline-block;
    margin: {
      left: auto;
      right: auto;
    }

    @include media-breakpoint-only(xs) {
      margin-bottom: 0.5rem;
    }
  }


  $image-selector: '& > img.gallery__image, & > .gallery__image img';
  &:not(.gallery--no-lightbox) {
    #{$image-selector} {
      @include hover-highlight($opacity: 0.6);
      cursor: pointer;
    }
  }

  .gallery--no-lightbox {
    #{$image-selector} {
      cursor: default;
    }
  }

  #{$image-selector} {
    width:  100%;
  }
}