.gallery {
  text-align:   center;
  column: {
    count: 3;
    gap:    0.75rem;
  }
  @include media-breakpoint-down(sm) {
    column-count: 2;
  }

  & > .gallery__image {
    display: inline-block;
    margin: {
      bottom: 0.75rem;
      left:   auto;
      right:  auto;
    }
  }

  & > img.gallery__image, & > .gallery__image img {
    @include hover-highlight($opacity: 0.6);

    width:   100%;
    cursor:  pointer;
  }
}