@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded');

@import "theme/variables";

@import "bootstrap-sprockets";
@import "bootstrap";

@import "theme/colors";
@import "theme/offsets";
@import "theme/select2";
@import "theme/hermitage";
@import "theme/images";
@import "theme/footer";

label abbr[title] {
  border-bottom: none;
  text-decoration-line: none;
  color: $brand-primary;
}

.label {
  border-radius: 0;
  font-size: 0.9em;
}

.word-break {
  @include hyphens;
}

.btn {
  white-space: normal;
}

body#tinymce {
  text-align: center;
}