@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded');

$font-family-sans-serif: 'Encode Sans Expanded', sans-serif;

@import "bootstrap-sprockets";
@import "bootstrap";

@import "theme/variables";
@import "theme/colors";
@import "theme/offsets";

label abbr[title] {
  border-bottom: none;
  text-decoration-line: none;
  color: $brand-primary;
}

.label {
  font-size: 0.9em;
}

.word-break {
  @include hyphens;
}