// .animate
// ===
// animations

.animate {
  &.animate--spin {
    animation: animate--spin 2s infinite linear;
  }
}

@keyframes animate--spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}