// .animate
// ===
// animations

@mixin animate-spin {
  animation: animate--spin 2s infinite linear;
}

.animate {
  &.animate--spin {
    @include animate-spin;
  }
}


@keyframes animate--spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}