// .category-events
// ===
// a list of event records

.category.category--events {
  & > .category__header {
    .category__title {

    }
    .category__options {

    }
  }

  & > .category__body {
    @extend .row;
    overflow-x: scroll;
    flex-wrap: nowrap;
    & > .event {
      @extend
        .col-11,
        .col-sm-7,
        .col-lg-12;

      display: flex;
      @include media-breakpoint-down(md) {
        flex-direction: column;
      }
      @include media-breakpoint-up(lg) {
        align-items: stretch;
      }
    }

    @include media-breakpoint-up(lg) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  @include media-breakpoint-up(lg) {
    position: absolute;
    padding-bottom: 3rem;
    padding: {
      left:  inherit;
      right: inherit;
    }
  }
}
