// navbar-main
// ===
// the main footer

@mixin _element-on-mobile {
  @include media-breakpoint-down(xs) {
    float: none;
    text-align: center;
    &:not(:first-child) {
      padding-top: 1rem;
    }
  }
}

html {
  position: relative;

  &, body {
    height: 100%;

    main {
      min-height: 100%;
    }
  }
}

.container.container--main, .container-fluid.container--main {
  overflow:auto;
  padding-bottom: 1rem;
}

.footer {
  position: absolute;
  clear:    both;
  width:    100%;
  color:    $gray-600;
  padding: {
    top:    2rem;
    bottom: 2rem;
  }

  .footer__element {
    &.footer__element--copyright {
      @include _element-on-mobile;
      float: left;
      text-align: left;
    }
    &.footer__element--hosting {
      @include _element-on-mobile;
      float: none;
      text-align: center;
    }
    &.footer__element--source-code {
      @include _element-on-mobile;
      float: right;
      text-align: right;
    }
  }

  .footer__link.footer__link--oetiker {
    font-weight:     700;
    color:           $body-color;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      color:  $primary;
    }
  }
}