
nav.navbar.navbar-main {
  border: none;
  background-color: $brand-primary;

  // logo
  .navbar-header .navbar-brand {
    &.brand-logo {
      padding: 0;
      img {
        &:hover {
          $size: 4px;
          $color: #fff;
          filter: drop-shadow(#{$size} #{$size} 4px #{$color}) drop-shadow(-#{$size} -#{$size} 4px #{$color});
        }
      }
    }
  }

  // social media buttons
  .nav-icons .nav-icon {
    color: #fff;
    font-size: 1.5em;
    display: inline-block;
    padding: {
      left: 8px;
      right: 8px;
    }
  }

  .navbar-nav > li {
    & > a {
      color: #fff;
    }
    &.active > a {
      font-weight: bold;
      background-color: $brand-primary;
      &:hover {
        color: #fff;
      }
    }
  }

  @include break-max(xs) {
    // social media buttons
    .nav-icons {
      &.nav-icons-small {
        position: relative;
        float: right;

        .nav-icon {
           &:last-of-type {
             margin-right: 2rem;
           }
        }
      }
      &.nav-icons-big {
        display: none;
      }
    }

      // menu-dropdown button
    .navbar-header .navbar-toggle {
      border-color: #fff;
      .icon-bar {
        background-color: #fff;
      }

      &:focus, &:hover  {
        background-color: #fff;
        .icon-bar {
          background-color: $brand-primary;
        }
      }
    }
  }

  @include break-max(sm) {
    .navbar-header .navbar-brand.brand-logo {
      img {
        width: 15rem;
      }
    }
  }

  @include break-min(sm) {
    .navbar-header .navbar-brand.brand-logo {
      img {
        width: 20rem;
      }
    }

    .navbar-header .navbar-brand {
      &.brand-name {
        display: none;
      }
    }

    // social media buttons
    .nav-icons.nav-icons-small {
      display: none;
    }
  }
}