@mixin _navbar-size($offset) {
  @if unit($offset) != rem {
    @warn "mixin expects to work with 'rem', got '#{unit($offset)}'"
  }

  $height-base: 5rem;
  $height-offset: $offset * 2;
  $height-total: $height-base + $height-offset;

  padding: {
    top: $offset;
    bottom: $offset;
  }

  &.navbar-fixed-top {
    &+.container, &+.container-fluid {
      margin-top: $height-total + 2rem;
    }
  }

  .navbar-header .navbar-brand.brand-logo {
    $height-image: $height-total - $offset;
    font-size: 2.8rem;

    img {
      height: $height-image;
    }
  }
}

nav.navbar.navbar-main {
  border: none;
  background-color: $brand-primary;
  color: #fff;

  // logo
  .navbar-header .navbar-brand {
    margin-right: 1rem;
    &.brand-logo {
      padding: 0;
      img {
        position: relative;
        top: 50%;
        transform: translateY(-50%) perspective(1px);
        &:hover {
          $size: 4px;
          $color: #fff;
          filter: drop-shadow(#{$size} #{$size} 4px #{$color}) drop-shadow(-#{$size} -#{$size} 4px #{$color});
        }
      }
    }
  }
  .account {
    .account-symbol, .account-name {
      display: inline;
    }

    .account-name {
      margin-left: 0.5rem;
    }
  }

  .navbar-social .navbar-icon {
    color: #fff;
    font-size: 1.5em;
    display: inline-block;
    padding: 10px 8px;
  }

  .navbar-nav > li {
    $selector: "a, .navbar-social > a";
    & #{$selector} {
      $border: 1px solid transparent;
      color: #fff;
      border: {
        top: $border;
        bottom: $border;
      }
      transition : border-color 100ms ease-out;
      &:hover {
        border-color: #fff;
        transition : border-color 100ms ease-in;
      }
    }
    &.active > #{$selector}  {
      background-color: transparent;
      font-weight: bold;
      &:hover {
        color: #fff;
      }
    }
  }

  @include break-max(xs) {
    .navbar-social {
      &.nav-small {
        position: relative;
        float: right;

        .navbar-icon {
           &:last-of-type {
             margin-right: 2rem;
           }
        }
      }
      &.nav-big {
        display: none;
      }
    }

    .navbar-header .navbar-toggle {
      border-color: #fff;
      .icon-bar {
        background-color: #fff;
      }

      &:focus, &:hover  {
        background-color: #fff;
        .icon-bar {
          background-color: $brand-primary;
        }
      }
    }

    .container {
      & > .navbar-collapse {
        border-top-color: transparent;

        & > .nav.navbar-nav {
          margin-bottom: 0;
          &:not(:first-of-type) {
            border-top: 1px solid #fff;
            margin-top: 0;
            padding-top: 7.5px;
          }
        }
      }
    }
  }

  @include break-max(sm) {
    @include _navbar-size(1rem);

    .container {
      width: 95%;
    }

    .navbar-header .navbar-brand.brand-logo img.nav-big {
      display: none;
    }
  }

  @include break-min(sm) {
    .navbar-header .navbar-brand {
      &.brand-name {
        display: none;
      }
    }

    .navbar-social.nav-small {
      display: none;
    }
  }

  @include break-min(md) {
    @include _navbar-size(4rem);

    .navbar-header .navbar-brand.brand-logo img.nav-small {
      display: none;
    }
  }
}