.panel {
  a.panel-heading, a.panel-body {
    display: block;
    color: $text-color;
    text-decoration: none;
  }

  &.panel-link {
    color: $text-color;

    &:hover {
      border: 1px solid $brand-primary;
    }
  }

  @each $name, $color in (
    primary: $panel-primary-heading-bg,
    success: $panel-success-heading-bg,
    info:    $panel-info-heading-bg,
    warning: $panel-warning-heading-bg,
    danger:  $panel-danger-heading-bg
  ) {
    &.panel-#{$name} > .panel-footer {
      background-color: $color;
    }
  }
}

a > .panel:only-child {
  &:hover {
    .panel-heading {
      background-color: darken(#f5f5f5, 5%)
    }
  }
}