-# albums: [Album]

.category
  .category__header
    %h2.category__title
      = t('home.index.albums')
    .category__options
      - if policy(Album).create?
        %a.btn.btn-primary{ href: new_album_path }
          = icons.new
  .category__body
    .row
      = list_any albums, else_say: t('albums.index.no_albums') do |a|
        .col
          = render '/albums/present',
                   album: a