-# articles: [Article]

.category
  .category__header
    %h2.category__title
      = t('home.index.articles')
    .category__options
      - if policy(Article).create?
        %a.btn.btn-primary{ href: new_article_path }
          = icons.new
  .category__body
    .row
      = list_any articles, else_say: t('articles.index.no_articles') do |a|
        .col-12
          = render '/articles/present',
                   article: a