.category
  .row
    .col
      .category__header
        %h2.category__title
          = t('.instagram')
  .row
    .col.d-flex.justify-content-center
      .js-lazy-element{ data: { url: recent_instagram_posts_api_path } }
        .loader.loader--box