.category.category--events {
  @include media-breakpoint-up(lg) {
    position:       absolute;
    padding-bottom: 3rem;
    width:          100%;
    left: 0;
    right: 0;
    padding: {
      left:  inherit;
      right: inherit;
    }
  }

  & > .category__body {
    overflow-x: scroll;
    flex-wrap: nowrap;
    & > .event {
      display: flex;
      @include media-breakpoint-down(md) {
        flex-direction: column;
      }
      @include media-breakpoint-up(lg) {
        align-items: stretch;
      }
    }

    @include media-breakpoint-up(lg) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
