@import "lib";

@import "app/mixins";
@import "app/elements";

// STYLING CONVENTIONS (BEM):
// https://medium.freecodecamp.org/css-naming-conventions-that-will-save-you-hours-of-debugging-35cea737d849

.col--events {
  @include media-breakpoint-up(lg) {
    position: absolute;
    left:     0;
  }
}

// makes the nav and footer work correctly
html {
  position: relative;

  &, body {
    height: 100%;

    main {
      min-height: 100%;
    }
  }
}

// TODO: remove this style
// The unstyle class is only used in js-generated elements.
// These elements should either set the necessary styles on the elements themselves,
// or use non-specific css to reach the same goal.

// unstyle
// ===
// Removes certain applied styles from specific elements.

a.unstyle {
  color: unset;
  text-decoration: none;
}

// TODO: make an own class out of this (à la ".title--main")
h1 {
  & + h3 {
    margin-top: -0.9rem;
    a {
      color: $secondary;
      &:hover {
        color:           $ternary;
        text-decoration: none;
      }
    }
  }
}

// Removes horizontal padding/margin of `.container-fluid`.
// Necessary for full-size pages where we want the content to take up the entire page width.
//
// NOTE:
// Don't know yet if it's a good idea to apply this to every `.container-fluid`.
// Should probably make an extension class out of this if any problems ever happen with it
// (à la `.container.container--no-padding-h`).
.container-fluid {
  padding-left:  0;
  padding-right: 0;
}