%footer.footer.footer--main
  .container
    .row.align-items-center

      .col-12.col-sm
        .footer__element.footer__element--left
          %span &copy; Pfadi Olten, 2017

      .col-12.col-sm
        .footer__element.footer__element--center
          %span
            = t('hosted_by')
          %a{ href: Settings.external.oetiker.homepage, target: '_blank', rel: 'noopener' }
            = 'OETIKER+PARTNER AG'

      .col-12.col-sm
        .footer__element.footer__element--right
          %span
            = t('source_code')
            %a.tag{ href: Settings.social.github, target: '_blank', rel: 'noopener' }
              GitHub
              %span.tag-addon.tag-gray
                = icons.github