.carousel.carousel--news {
  & > .carousel-indicators {
    justify-content: left;
    margin-left: 0;
    left: 1.5rem;
  }

  & > .carousel-inner {
    & > .carousel-item {
      background-color: rgba($secondary, .7);
      @include media-breakpoint-only(xl) {
        height: 20rem;
      }
      @include media-breakpoint-only(lg) {
        height: 20rem;
      }
      @include media-breakpoint-down(md) {
        height: 15rem;
      }
      @include media-breakpoint-only(xs) {
        height: 12rem;
      }
      & > img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
      }
      & > .carousel-caption {
        right:      0.5rem;
        bottom:     0.5rem;
        left:       auto;
        text-align: left;
        max-width:  80%;
        @include media-breakpoint-only(xs) {
          left: 0.5rem;
          max-width: 100%;
        }
        padding: {
          left: 1rem;
          right: 1rem;
        }
        background: {
          color: rgba($primary, .7)
        }

        .carousel-text {
          position: relative;
          height:   5em;
          overflow: hidden;
          @include media-breakpoint-down(md) {
            height: 3em;
          }
        }

        .carousel-caption__title {
          @include media-breakpoint-down(md) {
            font-size: 1.2em;
          }
        }
      }
    }
  }

  & > .carousel-indicators {
    bottom:          auto;
    top:             10px;
    justify-content: center;
    margin-right:    0;
    @include media-breakpoint-up(sm) {
      justify-content: left;
      margin-top:      8px;
    }
  }
}